<%include ../partials/header %>

<div class="container">
  <div class="row">
     
     <div class="col-md-3">
       <p class="lead">YelpBeach</p>
         <div class="list-group">
             <li class="list-group-item active">Info 1</li>
             <li class="list-group-item">Info 2</li>
             <li class="list-group-item">Info 3</li>
         </div>
     </div> <!-- end of col-md-3 div-->

     <div class="col-md-9">
       <div class="thumbnail">
          <img class="img-responsive" src="<%= theBeach.image %>">
          <div class="caption-full">
             <h4 class="pull-right">some useful info</h4>
             <h2> <a><%=theBeach.name%></a></h2>
             <p><%=theBeach.description%></p>
          </div>
       </div>  <!-- end of thumbnail div-->

       <div class="well">
         <div class="text-right">
           <a class="btn btn-success" href="/beaches/<%= theBeach._id %>/comments/new">Add a Review</a>
         </div>  <!-- end of text-right div-->
         <hr>
         <%theBeach.comments.forEach( (comment) => { %>
            <div class="row">
              <div class="col-md-12">
                <p><strong><%= comment.author %></strong></p>
                <span class="pull-right"> X days ago </span>
                  <p><%= comment.text %></p>
              </div> 
            </div> <!-- end of row div -->

            <% } ) %>

       </div>  <!-- end of well div-->

     </div> <!-- end of col-md-9 div-->
  
   </div> <!-- end of row div -->
</div>  <!-- end of container div -->




<%include ../partials/footer %>
